.blog-img {
    display: block;
    background: url("../images/img/blog-banner-img.jpg") center center no-repeat;
    background-size: cover;
    width: 100%;
    max-height: 800px;
    height: 100vh;
    position: relative;
}

.blog-title {
    color: #FFF;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    max-width: 1094px;
    text-align: center;
    margin: 0 auto;
    padding-top: 116px;
}

.blog-title div span {
    color: #2967EC;
}

.weWork_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 130px 0 80px 0;
}

.weWork_info h3 {
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    text-transform: uppercase;
    margin-bottom: 30px;
    max-width: 568px;
}

.weWork_info div img {
    width: 23px;
    height: 23px;
    background: #2967EC;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.weMake {
    background: #F7F7F7;
}

.weWork_info div {
    display: flex;
    align-items: center;
    margin-bottom: 28px;
}

.weWork_info div span {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
}

.about-title h3 {
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    text-transform: uppercase;
    padding: 130px 0 80px 0;
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
}

.about-title h3 span {
    color: #2967EC;
}

.weMake_info>div>h4 {
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;
}

.weMake_info {
    padding-bottom: 130px;
}

.weMake_info>div>p {
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    max-width: 370px;
}

.weMake_info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.weMake_info>div:not(:last-child) {
    margin-right: 142px;
}

.weTake_info div img {
    width: 32px;
    height: 32px;
    background: #2967EC;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-round {
    border: 1px solid #2967EC;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.weTake_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.weTake_info p {
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    max-width: 300px;
}

.weTake_block {
    margin-bottom: 130px;
}

.weTake-grey-block {
    background: #F7F7F7;
}

.weTake-grey-block .weTake_info {
    padding-bottom: 130px;
    justify-content: space-around;
}

.weTake-grey-block .weTake_info p {
    max-width: 350px;
}

.weWork_info {
    margin-left: 42px;
}

.about-slider .product-page {
    background: none;
}

.about-table {
    background: #F7F7F7;
    padding-bottom: 130px;
}

.weWork_block-2 .weWork_info {
    margin-left: 0;
    margin-right: 42px;
}

.weWork_block-4 .weWork_info {
    margin-left: 0;
    margin-right: 42px;
}

.about-table h3 {
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px; /* 87.5% */
    text-transform: uppercase;
    padding: 130px 0 60px 0;
    text-align: center;
}

.about-table h3 span {
    color: #2967EC;
}

.table-about-company {
    max-width: 764px;
    margin: 0 auto;
}

.table-about-company td {
    padding: 3px 31px;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
}

.table-about-company th {
    border-top: 1px solid #bfc3c8;
    border-bottom: 1px solid #bfc3c8;
}

.table-about-company th:first-child {
    border-right: none;
}

.table-about-company tr td {
    width: 50%;
}

.table-about-company tr th {
    background: #D1D1D1;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    padding: 3px 0;
}

.table-about-company tr:first-child th:first-child {
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
}

.table-about-company tr:last-child td:first-child {
    border-bottom-left-radius: 60px;
}

.table-about-company tr:last-child td:last-child {
    border-bottom-right-radius: 60px;
}
