.catalog_img {
    display: block;
    background: url("../images/img/catalog-banner-img.jpg") center center no-repeat;
    background-size: cover;
    width: 100%;
    max-height: 288px;
    height: 100vh;
    position: relative;
}

/* breadcrumb */
ul.breadcrumb {
    padding: 40px 0 50px 0;
    list-style: none;
}

ul.breadcrumb li {
    display: inline;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    color: #FFFFFF;
    text-transform: capitalize;
}

ul.breadcrumb li+li:before {
    padding: 10px;
    color: #FFFFFF;
    content: ">";
}

ul.breadcrumb li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
}

ul.breadcrumb li a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

.catalog form>button {
    width: 260px;
    height: 80px;
    border-radius: 5px;
    background: #2967EC;
    color: #FFFFFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalog form>button img{
    margin-left: 10px;
}

.catalog form {
    display: flex;
}

.catalog form>label {
    width: 100%;
    margin-right: 10px;
}

#search-product {
    border-radius: 5px;
    border: 1px solid #D1D1D1;
    background: #FFF;
    width: 100%;
    height: 80px;
    color: #D1D1D1;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    padding: 0 0 0 40px;
}

.cardsWrap {
    margin-top: 50px;
}

/*filterDrop*/
.filterDrop .accordion-content {
    display: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.filterDrop.active .accordion-content {
    display: block;
    max-height: 1000px;
    transition: max-height 0.5s ease-in;
}

.filterDrop .arrow-icon {
    width: 12px;
    height: 12px;
    border-top: 1px solid #242425;
    border-left: 1px solid #242425;
    transform: rotate(225deg);
    display: inline-block;
    margin-left: 10px;
    transition: transform 0.3s ease-out;
}

.filterDrop.active .arrow-icon {
    border-top: 1px solid #242425;
    border-left: 1px solid #242425;
    transform: rotate(45deg);
}

.group_title {
    cursor: pointer;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 20px;
}

.accordion-content label {
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.accordion-content label span {
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.group form {
    border-radius: 5px;
    border: 1px solid #D1D1D1;
    padding: 30px 15px;
    margin-bottom: 15px;
}
#intermittent1, #intermittent2, #intermittent3, #intermittent4 {
    margin-left: 25px;
}