.catalog_img {
    display: block;
    background: url("../images/img/catalog-banner-img.jpg") center center no-repeat;
    background-size: cover;
    width: 100%;
    max-height: 288px;
    height: 100vh;
    position: relative;
}

/* breadcrumb */
ul.breadcrumb {
    padding: 40px 0 50px 0;
    list-style: none;
}

ul.breadcrumb li {
    display: inline;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    color: #FFFFFF;
    text-transform: capitalize;
}

ul.breadcrumb li+li:before {
    padding: 10px;
    color: #FFFFFF;
    content: ">";
}

ul.breadcrumb li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
}

ul.breadcrumb li a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

.catalog form>button {
    width: 260px;
    height: 80px;
    border-radius: 5px;
    background: #2967EC;
    color: #FFFFFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalog form>button img{
    margin-left: 10px;
}

.catalog form {
    display: flex;
}

.catalog form>label {
    width: 100%;
    margin-right: 10px;
}

#search-product {
    border-radius: 5px;
    border: 1px solid #D1D1D1;
    background: #FFF;
    width: 100%;
    height: 80px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    padding: 0 0 0 40px;
    outline: none;
}

.cardsWrap {
    margin-top: 50px;
}

/*filterDrop*/
.filterDrop .accordion-content {
    display: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.filterDrop.active .accordion-content {
    display: block;
    max-height: 1000px;
    transition: max-height 0.5s ease-in;
}

.filterDrop .arrow-icon {
    width: 12px;
    height: 12px;
    border-top: 1px solid #242425;
    border-left: 1px solid #242425;
    transform: rotate(225deg);
    display: inline-block;
    margin-left: 10px;
    transition: transform 0.3s ease-out;
}

.filterDrop.active .arrow-icon {
    border-top: 1px solid #242425;
    border-left: 1px solid #242425;
    transform: rotate(45deg);
}

.group_title {
    cursor: pointer;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-content label {
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.accordion-content div:first-child {
    margin-top: 20px;
}

.accordion-content label span {
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.group form {
    border-radius: 5px;
    border: 1px solid #D1D1D1;
    padding: 30px 15px;
    margin-bottom: 15px;
    min-width: 336px;
    width: 100%;
}
#intermittent1, #intermittent2, #intermittent3, #intermittent4 {
    margin-left: 25px;
}

.cardsWrap .filter-desktop {
    margin-right: 30px;
}

.catalogText {
    margin: 130px 0 130px 0;
}

.catalogText p {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.catalogText p:last-child {
    margin-top: 20px;
}

.cardsWrap_block {
    display: flex;
    justify-content: space-between;
}

.cardsBlock_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    height: fit-content;
}

.cardsBlock_sort {
    margin-bottom: 50px;
}

.cardsBlock_sort>form>label {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    margin-right: 10px;
}

.cardsBlock_sort>form {
    display: flex;
    align-items: center;
}

#sortSelect {
    border: none;
    outline: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
}

#sortSelect option {
    font-size: 20px;
}

/* ============burger-filter======== */
.burger-filter {
    display: none;
}

.burger-filter {
    position: fixed;
    top: 0;
    left: -110%;
    width: 100%;
    height: 100vh;
    z-index: 1200;
    overflow-y: scroll;
    transition: all 1s ease;
}

.burger-filter .menu-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    background-color: #F4F4F4;
    overflow-y: scroll;
    z-index: 800;
    padding: 90px 40px 40px 40px;
}
.burger-filter .menu-content ul {
    display: flex;
    flex-direction: column;
    /*gap: 15px;*/
}
.burger-filter .menu-content li{
    font-size: 25px;
    font-weight: 600;
    line-height: 150%;
    text-decoration: none;
    transition: all 0.3s;
    border-bottom: 1px solid #C5C5C5;
    width: 720px;
    text-align: start;
}

.burger-filter .menu-content li a {
    font-family: Raleway, sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
    color: #242425;
}

.boot_svg{
    width: 129px;
    height: 135px;
    transition: all .5s ease;
}

.boorger_btm p:hover + .boot_svg{
    transform: scale(.9);
    transition: all .5s ease;
}

.boot_svg:hover{
    transform: scale(.9);
    transition: all .5s ease;
}

.boorger_btm button{
    display: flex;
    align-items: center;
}

.burger-iconFilter {
    display: none;
    z-index: 1250;
    cursor: pointer;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;

}

/* Animation of the burger icon*/
.burger-iconFilter {
    width: 50px;
    height: 50px;
    background: #2967EC;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.burger-iconFilter.active {
    display: none;
}

.burger-filter.active {
    left: 0;
}

.filterClose img {
    padding: 2px;
    position: absolute;
    right: 31px;
    top: 31px;
}

.filter-open-title {
    position: absolute;
    top: 31px;
    display: flex;
    align-items: center;
}

.filter-open-title>div {
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    margin-right: 10px;
}

.filter-open-title>span {
    width: 21px;
    height: 21px;
    font-size: 10px;
    border-radius: 50%;
    background: #2967EC;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardsBlock_wrap div:first-child {
    margin-right: 16px;
}

.filter-mobile-btn-wrap {
    display: none;
}

.cardsWrap .cardsBlock_cards {
    gap: 25px;
}

/* pagination */
.pagination {
    list-style: none;
    padding: 0;
    display: flex;
    margin-top: 20px;
}

.pagination li {
    margin-right: 10px;
}

.pagination a {
    text-decoration: none;
    color: #333;
    border: 1px solid #787878;
    padding: 5px 10px;
    border-radius: 5px;
}

.pagination a:hover {
    background-color: #2967EC;
    color: #fff;
}

.pagination a.active {
    background-color: #2967EC;
    color: #fff;
}

.toOrder-mobile {
    display: none;
}

.price-mobile {
    display: none;
}

