@media screen and (max-width:1739px){
    .container {
        max-width: 1140px;
    }
    .main-title {
        width: 1124px;
        padding: 70px 0 40px 0;
    }
    .main-title p:first-child {
        font-size: 60px;
    }
    .main-title p:last-child {
        font-size: 50px;
    }
    .mainLinks {
        width: 1355px;
    }
    .main-link p {
        max-width: 516px;
    }
    .mouse-img {
        margin-top: 20px;
    }
    .phone-call>div {
        width: 85px;
        height: 85px;
    }
    .mainLinks a {
        font-size: 14px;
    }
    .mainVariants_title p {
        font-size: 35px;
        line-height: 40px;
    }
    .mainVariants_title {
        margin: 100px 0 70px 0;
    }
    .mainVariants_list-item a p {
        font-size: 20px;
        line-height: 25px;
    }
    .mainVariants_info {
        margin: 85px 0 100px 0;
    }
    .mainVariants_info div:first-child>div {
        font-size: 30px;
        margin-bottom: 15px;
    }
    .mainVariants_info div:first-child>p {
        font-size: 16px;
        margin-bottom: 12px;
        margin-right: 20px;
    }
    .cardImg .sale {
        font-size: 14px;
    }
    .cardImg .hit {
        font-size: 14px;
    }
    .cardContent p {
        font-size: 17px;
    }
    .cardStatus {
        font-size: 12px;
    }
    .cardStatus>div>img {
        margin-right: 5px;
    }
    .price span {
        font-size: 25px;
    }
    .toOrder a span {
        font-size: 18px;
    }
    .products_title {
        font-size: 35px;
        margin-bottom: 60px;
    }

}

@media screen and (max-width:1199px){
    .container {
        padding: 0 25px;
        max-width: 980px;
    }
    .burger-menu{
        display: block;
    }
    .burger-icon{
        display: block;
    }
    .headerTop_btn {
        display: none;
    }
    .headerTop_numbers {
        display: none;
    }
    .headerTop_address {
        display: none;
    }
    .header-logo {
        margin: 0 auto;
    }
    .headerTop {
        position: relative;
    }
    .burger-icon {
        top: 35px;
        position: absolute;
    }
    .img-back_menu-block {
        display: none;
    }
    .phone-call>div {
        width: 70px;
        height: 70px;
    }
    .main-title p:first-child {
        font-size: 50px;
        line-height: 70px;
    }
    .main-title p:last-child {
        font-size: 40px;
        line-height: 60px;
    }
    .phone-call {
        top: 132px;
        right: 26px;
    }
    .main-title {
        width: 669px;
        padding: 45px 0 30px 0;
    }
    .mainLinks a {
        font-size: 12px;
    }
    .main-link {
        padding: 10px 15px;
        margin: 0 10px 10px 0;
        width: fit-content;
    }
    .main-link p {
        max-width: 567px;
    }
    .mainLinks {
        width: 1050px;
    }
    .headerTop_cart {
        margin-left: 0;
    }
    .mainLinks-desk {
        display: none;
    }
    .mainLinks-mobile {
        display: flex;
    }
    .mainVariants_list {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px
    }
    .mainVariants_title p {
        font-size: 25px;
        line-height: 35px;
    }
    .mainVariants_title {
        margin: 70px 0 45px 0;
    }
    .mainVariants_list-item a p {
        font-size: 15px;
        line-height: 20px;
        max-width: 100%;
    }
    .mainVariants_info {
        margin: 65px 0 80px 0;
        flex-direction: column-reverse;
    }
    .mainVariants_info div:last-child>img {
        width: 100%;
    }
    .mainVariants_info div:first-child>div {
        font-size: 25px;
        margin-top: 30px;
    }
    .mainVariants_info div:first-child>p {
        font-size: 15px;
        margin-bottom: 20px;
        margin-right: 0;
        max-width: 100%;
    }
    a.goToCatalog {
        width: 300px;
        height: 60px;
        margin: 0 auto;
    }
    a.goToCatalog span {
        font-size: 15px;
    }
    .cardImg .sale {
        font-size: 15px;
        width: 100px;
        height: 35px;
    }
    .cardImg .hit {
        font-size: 15px;
        left: 10px;
        width: 70px;
        height: 35px;
    }
    .cardContent p {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 20px;
    }
    .cardStatus {
        font-size: 10px;
    }
    .cardStatus {
        margin-bottom: 20px;
        padding-bottom: 15px;
    }
    .cardContent .price:hover {
        margin-bottom: 20px;
        padding-bottom: 15px;
    }
    .cardContent {
        padding: 20px 10px 20px 10px;
    }
    .toOrder {
        height: 60px;
    }
    .toOrder a span {
        font-size: 16px;
    }
    .toOrder a img {
        margin-left: 7px;
        width: 11px;
    }
    .products_title {
        font-size: 27px;
        margin-bottom: 40px;
    }
    .bur-foot .headerTop_address {
        display: flex;
        margin: 80px 0 30px 0;
    }
    .bur-foot .headerTop_numbers {
        display: block;
        margin-bottom: 50px;
    }
    .bur-foot .headerTop_btn {
        display: flex;
        margin-bottom: 30px;
        margin-left: 0;
    }
    .bur-foot>.headerTop_info {
        flex-direction: column;
        align-items: baseline;
        color: white;
    }

}

@media screen and (max-width:992px){
    .mainLinks {
        justify-content: flex-start;
    }

}

@media screen and (max-width:767px){
    .container {
        padding: 0 20px;
    }
    .img-back {
        display: none;
    }
    .img-back-mobile {
        display: block;
        background: url("../images/img/main-img-mobile.jpg") center center no-repeat;
    }
    .header-logo img {
        width: 178px;
    }
    .headerTop_cart {
        right: 20px;
    }
    .burger-icon {
        top: 26px;
    }
    .headerTop {
        padding: 21px 0;
    }
    .main-title p:first-child {
        font-size: 35px;
        line-height: 45px;
    }
    .main-title p:last-child {
        font-size: 25px;
        line-height: 30px;
    }
    .main-title {
        width: 100%;
        padding: 100px 0 30px 0;
    }
    .phone-call {
        top: 103px;
        right: 16px;
    }
    .mainLinks a {
        font-size: 10px;
        line-height: 10px;
    }
    .main-link {
        padding: 12px 15px;
        margin: 0 0 5px 0;
    }
    .mainLinks {
        width: 100%;
        justify-content: flex-start;
    }
    .mainVariants_title p {
        line-height: 30px;
    }
    .mainVariants_title {
        margin: 80px 0 50px 0;
    }
    .mainVariants_list-item a p {
        font-size: 13px;
        line-height: 17px;
    }
    .mainVariants_list {
        gap: 20px;
    }
    .mainVariants_list-item a img {
        margin-right: 5px;
    }
    .mainVariants_list-item a>img {
        width: 25px;
    }
    .mainVariants_info {
        margin: 50px 0 80px 0;
    }
    .mainVariants_info div:first-child>div {
        font-size: 20px;
    }
    .mainVariants_info div:first-child>p {
        line-height: 20px;
    }
    .products_title {
        font-size: 27px;
        margin-bottom: 31px;
    }
    .cardStatus {
        font-size: 15px;
    }
    .swiper-slide img {
        height: 243px;
    }

}
