.metalSchemes-product form {
    padding-bottom: 130px;
}

.product-page {
    padding: 130px 0 130px 0;
    background: #F7F7F7;
}

.oneProduct ul.breadcrumb li {
    color: #363636;
}

.oneProduct ul.breadcrumb li a {
    color: #363636;
}

.oneProduct ul.breadcrumb li+li:before {
    color: #363636;
}

.oneProduct ul.breadcrumb li.active {
    color: #2967EC;
}

.oneCard .cardStatus::after, .oneCard .price::after {
    display: none;
}

.oneCard .cardContent {
    padding: 0;
}
.oneCard .cardContent>a>p {
    margin-bottom: 20px;
    max-width: 660px;
}

.oneCard_block>div:last-child {
    margin-left: 50px;
}

.oneCard_price {
    display: flex;
    align-items: center;
}

.oneCard_price>div:first-child{
    margin-right: 25px;
}

.oneCard .group form {
    border: none;
    padding: 0;
    margin-bottom: 0;
    min-width: 0;
    width: 100%;
}

.oneCard .group_title {
    font-weight: 500;
    text-transform: lowercase;
}

.oneCard .filterDrop.active .accordion-content {
    position: absolute;
    background: #FFFFFF;
    width: 251px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.oneCard .price span {
    font-size: 40px;
}

.order-block {
    display: flex;
    align-items: center;
    margin-bottom: 38px;
}

.toOrder-2 {
    width: 400px;
    height: 80px;
    border-radius: 5px;
    background: #5088FF;
    color: white;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.toOrder-2 a {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toOrder-2 a span {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.toOrder-2 a img {
    margin-left: 10px;
}

.counter-product {
    display: flex;
    align-items: center;
}

.counter-product div {
    font-size: 25px;
    width: 88px;
    height: 80px;
    border: 1px solid #D1D1D1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter-product>div:nth-child(2) {
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
}

.counter-product>div:first-child:hover, .counter-product>div:last-child:hover {
    color: #2967EC;
}

.info-order img {
    width: 24px;
    height: 24px;
    background: #2967EC;
    border-radius: 50%;
}

.info-order div a img {
    margin-right: 10px;
}

.info-order div a {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.info-order div a span {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    text-decoration-line: underline;
    color: #363636;
}

.changeVariants {
    margin: 40px 0 40px 0;
}

.changeVariants>div:last-child .active {
    border: 1px solid #2967EC;
}

.changeVariants>div:first-child {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    text-transform: lowercase;
    margin-bottom: 20px;
}

.changeVariants>div:last-child div {
    border: 1px solid #D1D1D1;
    width: 110px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.changeVariants>div:last-child {
    display: flex;
    align-items: center;
}

.changeVariants>div:last-child div:first-child{
    margin-right: 10px;
}

.oneCard_block {
    display: flex;
}

.oneCard_block>div:first-child {
    /*width: 50%;*/
}

/*swiper*/
.swiper-container {
    width: 100%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    max-width: 705px;
}
.swiper-slide img {
    background-size: cover;
    background-position: center;
}
.gallery-top  img {
    width: 100%;
    height: 500px;
}
.gallery-thumbs {
    height: 150px;
}

.gallery-thumbs .swiper-slide img {
    width: 100%;
    height: 100%;
    opacity: 0.4;
    padding-top: 15px;
}

.gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-container-android .swiper-slide, .swiper-wrapper {
    border: none;
}

/*tabs*/
.tabs-block {
    margin-top: 130px;
}

.tabs {
    display: flex;
    border-bottom: 1px solid #ccc;
    transition: border-bottom 0.3s ease-in-out;
}

.tab {
    margin-right: 80px;
    cursor: pointer;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
}

.tab-content {
    padding-top: 40px;
    transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
    overflow: hidden;
}

.tab-content p, .tab-content li {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    color: #787878;
}

.tab-content p span {
    text-decoration-line: underline;
}

.tab-content div {
    display: none;
}

.tab.active {
    opacity: 1;
    border-bottom: 2px solid #2967EC;
    font-weight: 700;
}




