
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;
    cursor: pointer;
}
button {
    cursor: pointer;
    border: none;
    display: inline-block;
    background: none;
    padding: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #363636;
    line-height: 1.6;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

h1, h2, h3, h4 {
    margin: 0;
}

/*wrapper*/
#wrapper {
    width: 100%;
    margin: 0 auto;
    background: #FFFFFF
}

.container {
    max-width: 1680px;
    margin: 0 auto;
}

/*header*/
/* ============burger-menu======== */
.burger-menu {
    display: none;
}

.burger-img-line {
    position: absolute;
    top: 427px;
    width: 100%;
}


.burger-menu {
    position: fixed;
    top: 0;
    right: -110%;
    width: 100%;
    height: 100%;
    z-index: 1200;
    transition: all 1s ease;
}

.menu-content {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow-y: scroll;
    z-index: 800;
    padding-top: 150px;
}
.menu-content ul {
    display: flex;
    flex-direction: column;
    z-index: 1;
    padding: 0 30px;
}
.menu-content li{
    transition: all 0.3s;
}

.menu-content li a {
    color: #363636;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
    text-transform: capitalize;
    text-decoration: none;
}

.boot_svg{
    width: 129px;
    height: 135px;
    transition: all .5s ease;
}

.boorger_btm p{
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    text-transform: uppercase;
}
.burger-menu .footer-btn{
    margin-top: 140px;
}

.boorger_btm p:hover + .boot_svg{
    transform: scale(.9);
    transition: all .5s ease;
}

.boot_svg:hover{
    transform: scale(.9);
    transition: all .5s ease;
}

.boorger_btm button{
    display: flex;
    align-items: center;
}

.burger-icon {
    display: none;
    z-index: 1200;
    cursor: pointer;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #363636;
    margin: 6px 0;
    transition: 0.4s;

}

/* Animation of the burger icon*/
.burger-icon.active {
    width: 45px;
    height: 45px;
    padding: 7px;
    top: 30px;
    right: 44%;
    position: absolute;
}

.burger-icon.active .bar {
    background-color: #363636;
}
.burger-icon .bar {
    background-color: #363636;
}

.burger-icon.active .bar1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.burger-icon.active .bar2 {
    transform: rotate(45deg) translate(-2px, -1px);
}
.burger-icon.active .bar3 {
    display: none;
}

.burger-menu.active {
    right: 0;
}

.bur-foot {
    background: #163588;
    height: 100vh;
    margin-top: 80px;
}

.booter_soc{
    display: flex;
    gap: 15px;
    margin-bottom: 140px;
}

.headerTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 0;
}

.headerTop_info {
    display: flex;
    align-items: center;
}

.headerTop_address {
    display: flex;
    align-items: center;
}

.headerTop_address img{
    margin-right: 10px;
}

.headerTop_numbers {
    margin-left: 30px;
}

.headerTop_numbers a {
    color: inherit;
}

.headerTop_cart {
    position: relative;
    margin-left: 34px;
}

.headerTop_cart div {
    right: -17px;
    top: -5px;
    width: 27px;
    height: 27px;
    background: #2967EC;
    border-radius: 50%;
    position: absolute;
}

.headerTop_cart span {
    display: flex;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
}

.headerTop_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
}

.headerTop_btn  button {
    color: #FFFFFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding: 20px 40px;
    background: #2967EC;
    border-radius: 5px;
    transition: .3s ease;
}

.headerTop_btn  button:hover {
    background: #5088FF;
}

.img-back-mobile {
    display: none;
}

.img-back {
    display: block;
    background: url("../images/img/main-img.jpg") center center no-repeat;
    background-size: cover;
    width: 100%;
    max-height: 926px;
    height: 100vh;
    position: relative;
}

.mainImg {
    width: 100%;
    height: 100vh;
    background-position: center;
    object-fit: cover;
}

.img-back_menu-block {
    background: #163588;
    width: 100%;
}

.img-back_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.img-back_menu-block .booter_soc {
    margin-bottom: 0;
}

.img-back_menu-block nav a {
    color: #FFFFFF;
    font-size: 20px;
    margin-right: 30px;
}

ul.header-list {
    display: flex;
}

.current-menu-item span {
    color: #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
}


/*content*/
.content {
    flex: 1 0 auto;
}

.main-title p:first-child{
    color: #2967EC;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
}

.main-title p:last-child{
    color: #FFFFFF;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
}

.main-title {
    width: 1240px;
    margin: 0 auto;
    text-align: center;
    padding: 75px 0 50px 0;
}

.mainLinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1920px;
    margin: 0 auto;
}

.mainLinks a {
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
}

.main-link {
    display: flex;
    align-items: center;
    border: 1px solid white;
    border-radius: 100px;
    padding: 15px 25px;
    margin: 0 15px 15px 0;
    text-align: center;
}

.main-link img {
    margin-left: 10px;
}

.mouse-img {
    text-align: center;
    margin-top: 25px;
}

.phone-call {
    position: fixed;
    right: 50px;
    top: 220px;
    z-index: 11;
}

.pulse-button:hover {
    -webkit-animation: none;
}

@-webkit-keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgb(80, 136, 255);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

.phone-call>div {
    background: #2967EC;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0 0 rgb(80, 136, 255);
    transform: scale(1);
    animation: pulse 1.5s infinite;
    border: 2px solid #5088ff;
}

.mainLinks-mobile {
    display: none;
}

.mainVariants_title {
    text-align: center;
    margin: 130px 0 80px 0;
}

.mainVariants_title p {
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 45px; /* 112.5% */
    text-transform: uppercase;
}

.mainVariants_title p:first-child {
    color: #363636;
}

.mainVariants_title p:last-child {
    color: #2967EC;
}

.mainVariants_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.mainVariants_list-item a p {
    color: #363636;
    max-width: 300px;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 120% */
    text-transform: uppercase;
    transition: .3s ease;
}

.mainVariants_list-item a {
    display: flex;
    align-items: center;
    transition: .3s ease;
}

.mainVariants_list-item a p:hover {
    color: #2967EC;
}

.mainVariants_list-item a img {
    margin-right: 20px;
}

.mainVariants_info {
    margin: 100px 0 130px 0;
    display: flex;
    justify-content: space-between;
}

.mainVariants_info div:first-child>div {
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 85.714% */
    text-transform: uppercase;
    margin-bottom: 30px;
}

.mainVariants_info div:first-child>p {
    color: #787878;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 40px;
    max-width: 830px;
    margin-right: 20px;
}

a.goToCatalog {
    border-radius: 5px;
    background: #2967EC;
    width: 400px;
    height: 80px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

a.goToCatalog span {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

a.goToCatalog img {
    margin-left: 10px;
}

.products_title {
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 45px; /* 112.5% */
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

.products_title h3 {
    color: #363636;
}

.products_title span {
    color: #2967EC;
}

.cardImg {
    position: relative;
}

.cardImg .sale {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    width: 100px;
    height: 35px;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    background: #2967EC;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.cardImg .hit {
    position: absolute;
    z-index: 1;
    top: 52px;
    left: 10px;
    width: 75px;
    height: 35px;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    background: #FF8B37;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-transform: uppercase;
}

.cardContent {
    padding: 30px 10px 30px 10px;
}

.cardContent>a>p {
    color: #363636;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    text-align: start;
    margin-bottom: 30px;
}

.cardStatus>div>img {
    width: 11px;
    height: 11px;
    margin-right: 10px;
}

.cardStatus>div {
    display: flex;
    align-items: center;
}

.cardStatus .status-item:after {
    margin-left: 5px;
    margin-right: 5px;
    content: "|";
}

.price{
   text-align: start;
}

.price span{
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
}

.cardStatus {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.price {
    position: initial;
}

.cardContent .price:hover {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.cardStatus::after, .price::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(270deg, rgba(230, 230, 230, 0.00) 0%, #E6E6E6 49.57%, rgba(230, 230, 230, 0.00) 100%);
}

.toOrder {
    width: 100%;
    height: 60px;
    border-radius: 5px;
    background: #5088FF;
    color: white;
    justify-content: center;
    align-items: center;
    display: none;
}

.cardContent:hover>.toOrder {
    display: flex;
}

.toOrder a {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toOrder a span {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.toOrder a img {
    margin-left: 10px;
}

/*swiper*/
.products .swiper {
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 80px;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    background: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #E8E8E8;
}

.swiper-slide .cardImg>a>img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.swiper-btn .swiper-button-prev, .swiper-rtl .swiper-button-next {
    background: #2967EC;
    color: #FFFFFF;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: 25px;
    left: 1533px;
}

.swiper-btn .swiper-button-next, .swiper-rtl .swiper-button-prev {
    background: #2967EC;
    color: #FFFFFF;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: 25px;
}

.swiper-btn .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    font-size: 28px;
}

.swiper-btn .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    font-size: 28px;
}

.metal_title {
    margin-top: 130px;
    margin-bottom: 20px;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 45px; /* 112.5% */
    text-transform: uppercase;
    text-align: center;
}

.metalOptions_title.metal_title {
    margin-bottom: 80px;
}

.metalSchemes_title.metal_title {
    margin-bottom: 75px;
}

.metal_title h3 {
    color: #363636;
}

.metal_title span {
    color: #2967EC;
}

table {
    width: 100%;
}

th, td {
    border: 1px solid #bfc3c8;
}

table {
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 30px;
}

.table-metalThickness tr:first-child th {
    border: none;
}

.table-metalThickness tr:not(:first-child) {
    border-bottom: 1px solid #D1D1D1;
}

.table-metalThickness tr:not(:first-child) td {
    border-right: 1px solid #D1D1D1;
    padding: 6px;
    text-align: center;
}

.table-metalThickness tr:nth-child(2) td {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    background: #d1d1d173;
}

.table-metalThickness tr:nth-child(2) td:first-child {
    border-top-left-radius: 30px;
}

.table-metalThickness tr:nth-child(2) td:last-child {
    border-top-right-radius: 30px;
    border-right: none;
}

.table-metalThickness tr:last-child td:first-child {
    border-bottom-left-radius: 30px;
}

.table-metalThickness tr:last-child td:last-child {
    border-bottom-right-radius: 30px;
    border-right: 1px solid #D1D1D1;
}

.table-metalThickness tr:not(:first-child) td:first-child {
   background: #d1d1d173;
}

.table-metalThickness tr:not(:nth-child(2)) td:first-child {
    background: #2967EC;
    width: 97px;
    color: #FFFFFF;
}

.table-metalThickness-info {
    display: flex;
}

.table-metalThickness-info .block {
    border-radius: 20px;
    border: 1px solid #D1D1D1;
    padding: 30px;
    width: 50%;
}

.table-metalThickness-info .block {
    margin-top: 20px;
}

.table-metalThickness-info .block>div {
    display: flex;
    align-items: center;
}

.table-metalThickness-info .block>div img {
    margin-right: 10px;
}

.table-metalThickness-info .block:first-child {
    margin-right: 20px;
}

.table-metalThickness-info .block:last-child {
    display: flex;
    align-items: center;
}

.table-metalThickness-info .block span, .table-metalThickness-info .block p {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.metalInfo_img {
    position: relative;
}

.metalInfo_img img:first-child {
    display: flex;
    margin: 0 auto;
    padding-top: 170px;
}

.metalInfo_img img:not(:first-child) {
    position: absolute;
}

.metalInfo_img img:nth-child(2) {
    top: 172px;
    left: 641px;
}

.metalInfo_img img:nth-child(3) {
    top: 322px;
    left: 969px;
}

.metalInfo_img img:last-child {
    top: 345px;
    left: 561px;
}

.metalInfo_block {
    border-radius: 20px;
    border: 1px solid #D1D1D1;
    width: 420px;
    padding: 30px;
    position: relative;
}

.metalInfo_block p {
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
}

.metalInfo_icon {
    width: 28px;
    height: 28px;
    background: #2967EC;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgb(80, 136, 255);
    transform: scale(1);
    animation: pulse 1.5s infinite;
    position: absolute;
}

.metalInfo_icon.icon-1{
    top: 66px;
    right: -13px;
}

.metalInfo_icon.icon-2{
    top: 26px;
    right: -13px;
}

.metalInfo_icon.icon-3{
    top: 46px;
    left: -12px;
}

.metalInfo {
    position: relative;
}

.metalInfo_block.block-1 {
    bottom: 327px;
    left: 213px;
    position: absolute;
}

.metalInfo_block.block-2 {
    bottom: 195px;
    left: 137px;
    position: absolute;
}

.metalInfo_block.block-3 {
    bottom: 198px;
    left: 1105px;
    position: absolute;
}

/*table-metalOptions*/
.table-metalOptions tr {
    border: 1px solid #D1D1D1;
    text-align: center;
}

.table-metalOptions tr th {
    background: #D1D1D1;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px; /* 125% */
    text-transform: uppercase;
    padding: 12px 62px;
    vertical-align: middle;
}

.table-metalOptions tr th span {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    text-transform: lowercase;
}

.table-metalOptions tr td {
    padding: 2px;
}

.table-metalOptions th:not(:last-child), .table-metalOptions tr:nth-child(2) td, .table-metalOptions tr:nth-child(3) td, .table-metalOptions tr:last-child td {
    border-right: 1px solid #D1D1D1;
}

.table-metalOptions tr th:first-child {
    border-top-left-radius: 30px;
}

.table-metalOptions tr:last-child td:first-child {
    border-bottom-left-radius: 30px;
}

.table-metalOptions tr:last-child td:last-child {
    border-bottom-right-radius: 30px;
}

.table-metalOptions tr th:last-child {
    border-top-right-radius: 30px;
}

.table-metalOptions tr:first-child {
    border: none;
}

/*table-metalSchemes*/
.table-metalSchemes tr {
    border: 1px solid #D1D1D1;
    text-align: center;
}

.table-metalSchemes tr th {
    background: #D1D1D1;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px; /* 125% */
    text-transform: uppercase;
    padding: 12px 62px;
    vertical-align: middle;
}

.table-metalSchemes tr td {
    padding: 2px;
}

.table-metalSchemes tr td:first-child {
    background: #2967EC;
    color: #FFFFFF;
}

.table-metalSchemes th:not(:last-child),
.table-metalSchemes tr:nth-child(2) td,
.table-metalSchemes tr:nth-child(3) td,
.table-metalSchemes tr:nth-child(4) td,
.table-metalSchemes tr:nth-child(5) td,
.table-metalSchemes tr:nth-child(6) td,
.table-metalSchemes tr:nth-child(7) td,
.table-metalSchemes tr:nth-child(8) td,
.table-metalSchemes tr:last-child td {
    border-right: 1px solid #D1D1D1;
}

.table-metalSchemes tr th:first-child {
    border-top-left-radius: 30px;
}

.table-metalSchemes tr th:last-child {
    border-top-right-radius: 30px;
}

.table-metalSchemes tr:last-child td:first-child {
    border-bottom-left-radius: 30px;
}

.table-metalSchemes tr:last-child td:last-child {
    border-bottom-right-radius: 30px;
}

.table-metalSchemes tr:first-child {
    border: none;
}


.metalSchemes_table-imgs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 20px;
}

.metalSchemes button {
    width: 540px;
    height: 80px;
    border-radius: 5px;
    background: #2967EC;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    margin: 0 auto;
}

.metalSchemes button img {
    margin-left: 10px;
}

.contactForm {
    background: #2967EC;
    margin-top: 130px;
}

.contactForm_wrap {
    display: flex;
}

.contactForm_wrap div:first-child img {
    display: flex;
    width: 100%;
    height: 100%;
}

.contactForm_wrap>div:first-child {
    width: 50%;
}

.contactForm_wrap>div:last-child {
    max-width: 460px;
    padding-top: 80px;
    padding-bottom: 74px;
    margin-left: 240px;
    width: 50%;
}

#POST-name {
    background: url(/images/svg/user-icon.svg) no-repeat;
    background-position: 10px 18px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #FFF;
    height: 60px;
    padding: 21px 35px;
    margin-bottom: 10px;
}

#POST-name::placeholder, #POST-number::placeholder, #POST-email::placeholder {
    color: rgba(255, 255, 255, 0.76);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

#POST-number {
    background: url(/images/svg/phone-call-icon.svg) no-repeat;
    background-position: 10px 18px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #FFF;
    height: 60px;
    padding: 21px 35px;
    margin-bottom: 10px;
}

#POST-email {
    background: url(/images/svg/email-icon.svg) no-repeat;
    background-position: 10px 18px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #FFF;
    height: 60px;
    padding: 21px 35px;
    margin-bottom: 40px;
}

#submit {
    background: url(/images/svg/arrow-left-top-grey.svg) no-repeat;
    background-position: 229px 25px;
    background-color: #FFFFFF;
    border: none;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 60px;
    padding: 21px 35px;
    width: 337px;
    border-radius: 5px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.contactForm_title {
    text-align: center;
    max-width: 460px;
}

.contactForm_title h3 {
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px; /* 62.5% */
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.contactForm_title p {
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.contactForm_title span {
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;
}

.contactForm form {
    display: flex;
    flex-direction: column;
}

.border-line {
    border-bottom: 20px solid;
    border-image: linear-gradient(to right, #2967EC 50%, #0041CB 50%);
    border-image-slice: 1;
    transition: border-image 0.3s;
}

/*footer*/
.footer {
    flex-shrink: 0;
    min-height: 486px;
}

.footer_wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 45px;
    padding-bottom: 50px;
}

.footer_wrap {
    position: relative;
}

.footer_wrap::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(270deg, rgba(230, 230, 230, 0.00) 0%, #E6E6E6 49.57%, rgba(230, 230, 230, 0.00) 100%);
}

.foot-back {
    width: 74px;
    height: 74px;
    background: #2967EC;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_portals {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.footer_wrap-logo .booter_soc {
    justify-content: center;
    margin-top: 20px;
}

.footer_block h4 {
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer_block {
    max-width: 390px;
}

.footer_wrap-contacts div span {
    font-style: normal;
    font-weight: 700;
}

.footer_wrap-block {
    display: flex;
}

.footer_block {
    margin-right: 30px;
}

.footer_block a {
    color: #363636;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
}

.footer_block div {
    margin-bottom: 8px;
}

